{% extends 'base.html.twig' %}

{% block title %}MessageCM index{% endblock %}

{% block body %}
    <h1>MessageCM index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_cm in message_cms %}
            <tr>
                <td>{{ message_cm.id }}</td>
                <td>{{ message_cm.titre }}</td>
                <td>{{ message_cm.texte }}</td>
                <td>
                    <a href="{{ path('app_message_cm_show', {'id': message_cm.id}) }}">show</a>
                    <a href="{{ path('app_message_cm_edit', {'id': message_cm.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_cm_new') }}">Create new</a>
{% endblock %}
